html,body{
    margin: 0;
    font-family: "Open Sans Condensed", sans-serif;
}
body{
    width: 90%;
    max-width: 480px;
    margin: 0 auto;
    min-width: 480px;
}
form{
    width: 100%;
    margin: 10px auto;
}

form input{
    width: 40%;
    outline: none;
    border: 1px solid #ccc;
    padding: 6px;
    margin: 0 5px;
    border-radius: 5px;
}
form input:focus{
    border: 1px solid #4492f8;
    box-shadow: 0 0 5px #4492f8;
    transition: all .3s ease;
}

form label{
    width: 26%;
    margin-right:1%;
}

form button{
    width: 30%;
    margin: 0 5px;
    padding: 5px;
    border: 1px solid #4492f8;
    background-color: #4492f8;
    color: #fff;
    border-radius: 5px;
}
form button:disabled{
    background-color: #ccc;
    border: 1px solid #ccc;
    cursor: not-allowed;
}
form button:disabled:hover{
    background-color: #ccc;
    border: 1px solid #ccc;
}

form button:hover{
    background-color: #337ab7;
    transition: all .3s ease;
}

p{
    margin: 10px 0;
}

h1,
p{
    text-align: center;
}

h1 {
  font-family: "Lobster Two", cursive;
}

ul {
  width: 90%;
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  color: #2e2e41;
}

iframe{
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 3px 5px #ccc;
}

iframe:hover{
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
}