<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert Simple 简单的警报提示框</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
            href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Inter:wght@300;400;500;600&display=swap"
            rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
</head>

<body>
<div class="space-y-4">
    <div class="bg-primary-50 text-primary-500 rounded-md p-4 text-sm">
        <b>Info alert</b>
    </div>
    <div class="rounded-md bg-green-50 p-4 text-sm text-green-500">
        <b>Success alert</b>
    </div>
    <div class="rounded-md bg-yellow-50 p-4 text-sm text-yellow-500">
        <b>Warning alert</b>
    </div>
    <div class="rounded-md bg-red-50 p-4 text-sm text-red-500">
        <b>Error alert</b>
    </div>
</div>
</body>

</html>