<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge Rounded 圆角的徽章</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
            href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Inter:wght@300;400;500;600&display=swap"
            rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
</head>

<body>
<div class="flex flex-wrap items-center justify-center gap-2">
    <span class="rounded-md bg-red-400 px-2 py-1 text-xs font-semibold text-primary-600"> Badge </span>
    <span class="rounded-md bg-red-400 px-2 py-1 text-sm font-semibold text-white"> Badge </span>
    <span class="rounded-md bg-red-400 px-2 py-1 text-xl font-semibold text-gray-600"> Badge </span>
</div>
</body>

</html>