requests>=2.31.0
beautifulsoup4>=4.12.0
lxml>=4.9.0
fake-useragent>=1.4.0
fonttools>=4.40.0
Pillow>=10.0.0
ddddocr>=1.4.0
execjs>=1.5.1
pycryptodome>=3.18.0
tqdm>=4.65.0
concurrent-futures>=3.1.1
chardet>=5.0.0
retrying>=1.3.4
