<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar With Placeholder initials 带有占位符首字母的头像</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
            href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Inter:wght@300;400;500;600&display=swap"
            rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
</head>

<body>
<div class="flex flex-wrap items-end justify-center gap-3">
    <div class="flex h-6 w-6 items-center justify-center overflow-hidden rounded-full bg-blue-200 text-blue-400">
        <span class="text-xs"> LQ </span>
    </div>
    <div class="flex h-8 w-8 items-center justify-center overflow-hidden rounded-full bg-blue-200 text-blue-400">
        <span class="text-sm"> LQ </span>
    </div>
    <div class="flex h-10 w-10 items-center justify-center overflow-hidden rounded-full bg-blue-200 text-blue-400">
        <span class="text-base"> LQ </span>
    </div>
    <div class="flex h-12 w-12 items-center justify-center overflow-hidden rounded-full bg-blue-200 text-blue-400">
        <span class="text-lg"> LQ </span>
    </div>
    <div class="flex h-14 w-14 items-center justify-center overflow-hidden rounded-full bg-blue-200 text-blue-400">
        <span class="text-xl"> LQ </span>
    </div>
    <div class="flex h-16 w-16 items-center justify-center overflow-hidden rounded-full bg-blue-200 text-blue-400">
        <span class="text-2xl"> LQ </span>
    </div>
</div>
</body>

</html>